<!DOCTYPE html>
<html>
<head>
  <title>KeyLimePi</title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">  
   <meta name="description" content=""> 
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "/assets/stylesheets/bootstrap-theme.css"  %>
  <%= stylesheet_link_tag "/assets/stylesheets/bootstrap-theme.min.css"  %>
  <%= stylesheet_link_tag "/assets/stylesheets/bootstrap.css" %>
  <%= stylesheet_link_tag "/assets/stylesheets/bootstrap.min.css"  %>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/assets/javascript/bootstrap.js'%>
  <%= javascript_include_tag '/assets/javascript/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

<!-- NAVIGATION BAR START -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Key Lime Pi</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="resources">Resources</a></li>
      	<li><a href="help">Help</a></li>
      	<li><a href="about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- NAVIGATION BAR END -->


<div class="container">
  <%= yield %>
</div>

</body>

    <!-- Footer ============================================= -->
<footer>
  <center>
  <ul class="pagination pagination-sm">
    <li><a href="/">Home</a></li>
    <li><a href="resources">Resources</a></li>
    <li><a href="help">Help</a></li>
    <li><a href="about">About</a></li>
  </ul>
  <center>
</footer>


</html>
